@import "tailwindcss";




html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Tajawal', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: linear-gradient(-90deg, #1A7BB6 0%, #1D1F70 100%);
  min-height: 100vh;
}

